.posts_wrapper {
    margin-top: 50px;
    width: 100%;
    height: 310px;
    overflow-y: scroll;
}

.posts_wrapper::-webkit-scrollbar {
    width: 5px;
}

.posts_wrapper::-webkit-scrollbar-thumb {
    background: #bf0a0a;
}